html,body,div,span,h1,h2,h3,h4,a,p,ol,ul,li,form,label,article,aside,figure,figcaption,footer,header,nav{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    text-decoration:none;
    box-sizing:content-box
}
ol,ul{
    list-style:none
}
img{
    width:100%
}

body {
  background-color: #111;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.main-logo {
  font-size: 75px;
  margin-bottom: 30px;
  color: #FDDB61;
  font-family: 'Bungee Inline', cursive;
}

.main-content {
  width: 800px;
  min-height: 100vh;
  margin: auto;
  padding: 30px;
  border: solid grey;
  border-width: 0 5px;
  background-color: #343030;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-logo {
  font-size: 40px;
  color: #39BAAC;
  margin-bottom: 30px;
  font-family: 'Bungee Inline', cursive;
}

.button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: skyblue;
  color: #000;
  margin-bottom: 20px;
  margin-top: 10px;
}

a, input[type="submit"] {
  text-decoration: none;
  font-size: 18px;
  padding: 20 20 20 20px;
}

.button:hover, input[type="submit"]:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

.user-form {
  margin-top: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  display: inline-block;
  height: 18px;
  width: 200px;
  font-size: 16px;
}

input[type="number"] {
  display: inline-block;
  height: 18px;
  width: 70px;
  font-size: 16px
}

.flexing {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.band-dropdown {
  font-size: 16px;
}


/* form {
  position: relative;
  background: #FFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type="text"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #4CAF50;
  margin-top: 20px;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}

input[type="submit"]:hover {
  background: #43A047;
} */
